.main-header {
  background-color: #004080;
  color: white;
  padding: 24px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 2px solid #003366;
}

.main-header h1 {
  font-size: 36px;
  margin: 0;
}

.main-header h2 {
  font-size: 18px;
  margin-top: 8px;
  font-weight: normal;
}


.maintenance-container {
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 0 ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  font-weight: bold;
  box-shadow: #333;

}

.filters {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.filters input[type="date"],
.filters select {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  min-width: 160px;
  background-color: #fff;
  font-weight: bold;
}

.filters label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.filters button {
  padding: 10px 18px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;

  transition: background-color 0.3s ease;
  margin-top: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
}

th, td {
  border: 1px solid #ddd;
  padding: 14px 16px;
  text-align: left;
}

th {
  background-color: #0077ff;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.status {
  font-weight: bold;
  padding: 10px 22px; /* AUMENTA a área colorida */
  text-align: center;
}

.concluido {
  background-color: #28a745;
  color: white;
  border-radius: 10px;
}

.em-andamento {
  background-color: #ffc107;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.pendente {
  background-color: #575757;
  color: white;
  border-radius: 10px;
}

