* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Container principal */
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* Cartões */
.dashboard-card {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex: 1 1 300px;
  max-width: 350px;
  min-width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dashboard-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-weight: bold;
}

.dashboard-icon.green {
  background-color: #c8e6c9;
}
.dashboard-icon.yellow {
  background-color: #ffe0b2;
}
.dashboard-icon.blue {
  background-color: #bbdefb;
}

.dashboard-number {
  font-size: 24px;
  font-weight: bold;
}

/* Seções extras */
.extra-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.alerta-container,
.resumoManuten {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  flex: 1 1 300px;
  max-width: 350px;
  min-width: 250px;
}

.alerta-titulo,
.resumoManutenc {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.alerta-texto,
.manuten {
  font-size: 0.95rem;
  margin: 5px 0;
}

.botao {
  border-radius: 10px;
  background-color: #41b8d5;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #339ab5;
}


@media (max-width: 400px) {
  .dashboard-card,
  .alerta-container,
  .resumoManuten {
    width: 100%;
    min-width: 90%;
    max-width: 95%;
  }
}


@media (max-width: 768px) {
  .dashboard-container,
  .extra-section {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .dashboard-card,
  .alerta-container,
  .resumoManuten {
    width: 100%;
    max-width: 95%;
  }
}


@media (max-width: 1024px) and (min-width: 769px) {
  .dashboard-card,
  .alerta-container,
  .resumoManuten {
    flex: 1 1 45%;
  }
}


@media (min-width: 1025px) and (max-width: 1440px) {
  .dashboard-card,
  .alerta-container,
  .resumoManuten {
    flex: 1 1 30%;
  }
}


@media (min-width: 1441px) {
  .dashboard-card,
  .alerta-container,
  .resumoManuten {
    flex: 1 1 22%;
  }
}
