.dashboard-container {
  width: 1630px;
  margin: 0 ;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.dashboard-card {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex: 1 1 300px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  max-width: 100%;
}

.dashboard-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-weight: bold;
}

.dashboard-icon.green {
  background-color: #c8e6c9;
}

.dashboard-icon.yellow {
  background-color: #ffe0b2;
}

.dashboard-icon.blue {
  background-color: #bbdefb;
}

.dashboard-number {
  font-size: 24px;
  font-weight: bold;
}

.box,
.resumoManuten {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  width: 250px;
  height: 370px;
}

.resumoManuten {
  width: 350px;
  height: 320px;
}

.alerta-container {
  width: 300px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.alerta-titulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.alerta-texto {
  margin: 0;
  font-size: 0.9rem;
}

.botao {
  border-radius: 10px;
  background-color: #41b8d5;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #339ab5;
}

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
    align-items: stretch;
  }

  .dashboard-card,
  .box,
  .resumoManuten {
    width: 100%;
    min-width: unset;
  }
}
